// -header.jade
nav.navbar.navbar-default(role="navigation")
  .container-fluid
    #top-left.navbar-header
      a.navbar-brand(href="#") MDRush ~ ~ ~
    |             
    #top-right
      ul.nav.navbar-nav                                  
        li
          a(href="javascript:void(0)"") Markdown教程
        |                     
        li
          a(href="javascript:void(0)"") 喜欢
        |                     
        li
          a(href="#") More
